.hot-offer-row {
    position: relative;
    top: -55px;
}

.some-hot-offer {
    width: 390px;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#hot-offer-1 {
    background-color: #FF6875;

    & > .hot-offer-text {
        display: grid;
        max-width: 270px;
        align-self: center;
        justify-self: center;
        grid-template:
            "a" 3em
            "a" 3em
            "a" 3em;
        padding: 2.5em 0em 0 2em;

        & > div {
            color: white;
        }
    
        & > .hot-offer-header {
            font-family: 'Proxima Nova Bold', sans-serif;
            font-size: 24px;
        }
        
        & > .hot-offer-desc {
            font-size: 12px;
        }
    
        & > .hot-offer-price {
            font-size: 24px;
    
            &:before {
                content: '$';
            }
        }
    }
    
    & > .hot-offer-img {
        position: absolute;
        max-width: 316px;
        top: 30px;
        right: -25px;
    }
}
  
#hot-offer-2 {
    background-color: #F6F7F8;

    & > .hot-offer-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        padding: 2em 2em;
    
        & > .hot-offer-header {
            font-family: 'Proxima Nova Bold', sans-serif;
            font-size: 24px;
        }
    
        & > .hot-offer-price {
            font-size: 24px;
    
            &:before {
                content: '$';
            }
        }
    }
    
    & > .hot-offer-img {
        position: absolute;
        max-width: 316px;
        top: -20%;
        left: 10%;
    }
}

#hot-offer-3 {
    background-color: #C1C8CE;

    & > .hot-offer-text {
        display: grid;
        max-width: 200px;
        align-self: center;
        justify-self: center;
        grid-template:
            "a" 4em
            "a" 4em
            "a" 4em;
        padding: 2.5em 0em 0 2em;
    
        & > .hot-offer-header {
            font-family: 'Proxima Nova Bold', sans-serif;
            font-size: 24px;
        }
        
        & > .hot-offer-desc {
            font-size: 12px;
        }
    
        & > .hot-offer-price {
            font-size: 24px;
    
            &:before {
                content: '$';
            }
        }
    }
    
    & > .hot-offer-img {
        position: absolute;
        max-width: 316px;
        right: -50px;
        transform: scale(0.85);
        bottom: 0;
    }
}